.section-1 {
  display: flex;
  justify-content: space-between;
}
.text-box {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #cadbf3;
}
.text-box:focus {
  outline-width: thin;
  outline-color: #3283fc;
}
